.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 1574px;
}

.u-section-2 .u-tabs-1 {
  min-height: 1475px;
  margin-top: 60px;
  margin-bottom: 39px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-6 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-7 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-8 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-9 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-10 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-11 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 751px;
  height: auto;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 818px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-custom-html-2 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-custom-html-3 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-custom-html-4 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-custom-html-5 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-custom-html-6 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-custom-html-7 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-custom-html-8 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-custom-html-9 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-10 {
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-custom-html-10 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-tab-pane-11 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-custom-html-11 {
  min-height: 1305px;
  width: 1080px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-custom-html-1 {
    width: 880px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-3 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-4 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-5 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-6 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-7 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-8 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-9 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-10 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-custom-html-11 {
    height: auto;
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-9 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-10 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-11 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-9 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-10 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-11 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-tabs-1 {
    min-height: 763px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-9 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-10 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-11 {
    width: 320px;
  }
}